.quick-nav{
    display: flex;
    justify-content: space-evenly;

    
}
.nav{
    text-decoration: none;
    color: #fff;
    padding: 8px 18px;
    border-radius: 999px;         
    transition: all 0.3s ease; 
    font-family: inherit;   
}
.nav:hover{
    background-color: #686666;
}
.nav-div{
  width: 68%;              
  height: 1px;
  background-color: #555; 
  margin: 20px auto 0;     

}
#myimage {
    
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%; 
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#greet {
    color: #fff;
    font-size: calc(100% + 1rem);
    margin-bottom: 0px;
    color: #eba104;
}
#name{
    margin:10px;
    font-family: Lora, "Noto Sans SC";
    color: #fff;
    font-size: clamp(48px, 6vw, 96px); /* 🔥 BIG like first image */
  font-weight: 450;
  text-align: center;

  letter-spacing: 1px;
    text-shadow: 0 0 5px #fff, 0 0 10px rgb(88, 3, 93), 0 0 20px rgb(88, 3, 93), 0 0 40px rgb(88, 3, 93);
}
#role {
  color: #ea37e1;
  font-size: 16px;
  margin-top: 9px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  letter-spacing: 1px;
}

.soc {

    background-color: #383535;
    border: 1px solid #686666;
    color: #fff;
    padding: 8px 16px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 8px 2px;
    cursor: pointer;
    border-radius: 999px;
    transition: all .3s ease;
    font-family: inherit;
}
.socials {
    margin-top: -15px;
    display: flex;
    justify-content: space-evenly;
}
:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: #ffffffde;
    background-color: #121010;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.sec-heading {
  text-align: center;
  font-family: Lora, "Noto Sans SC";
  font-size: 36px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 12px;
}
.sec-line{
  width: 68%;
  height: 1px;
  background-color: rgb(77, 73, 73);
  margin: 0 auto 40px;

}
.about-content{
    width: 67%;
    margin: auto;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 300;
    line-height: 32.3px;
    letter-spacing: 0.5px;
    text-align: justify;
    overflow-wrap: normal;
    
  
}
#about {
  display: none;
  padding: 80px 20px;

}

/* ONLY show when clicked */
#about:target {
  display: block;
}

